@charset "utf-8";
/* CSS Document */

/*page wrapper*/

#pagewrapper{
	background-color:black;
	margin-left:auto;
	margin-right:auto;
}

/* Header/logo Title */
#logo{
	float:left;
	position:relative;
	z-index: -1;
}

#header{
  padding-top:25px;
  font-family: "DejaVu Serif","serif";
  letter-spacing:1px;
  text-align: left;
  background:none;
  color: white;
  text-decoration:underline #3F3F3F;
}

#button a{
	float:right;
	margin-top: -60px;
	margin-right:35px;
	color: white;
	text-align:right;
	font-size:20px;
	border:2px solid #3F3F3F;
	border-radius:50px;
	width:100px;
	height:15px;
	padding: 15px;
	padding-top:10px;
	text-decoration: none;
}

body {
	background-color: black;	
}

.navbar a{
	float:left;
	display:inline-block;
	position:sticky;
	float:left;
	text-align:center;
	overflow: hidden;
	color:white;
	text-decoration:none;
	font-size:20px;
	letter-spacing: 2px;
	border-radius:40px,;
	width:15.33%;
}

/*Change color on hover*/
.navbar a:hover {
	background-color:#3F3F3F;
	color:white;
}

.navbar a:active{
	background-color:#D39E9F;
	color:black;
}

#ballerina{
	float:left;
	postion:static;
	margin-left:-180px;
}

#call{
	width:100%;
	hieght:100%;
	float:right;
	margin-right:35px;
	margin-top:-700px;
}

.call{
	float:right;
	text-align:center;
	font-family:"DejaVu Serif","serif";
	font-size:24px;
	color:#D39E9F;
	margin:20px;
	
}

.call2{
	float:right;
	text-align: center;
	font-family:"DejaVu Serif","serif";
	font-size:28px;
	color:#D39E9F;
	border:2px solid #3F3F3F;
	border-radius:30px;
	width:28%;
	height:28%;
	margin-top:50px;
	margin-right:-180px;
	margin-bottom:50px;
}


.register a{
	float:right;
	text-align: center;
	font-family:"DejaVu Serif","serif";
	font-size:28px;
	text-decoration:none;
	background-color:#D39E9F;
	color:white;
	border:30%;
	border-radius:20px;
	height:25%;
	width:28%;
	
}

footer{
	float:right;
	color:white;
	font-size:20px;
	margin-top:-150px;
	margin-right:20px;
}